body {
  font-family: 'Open Sans', sans-serif;
  padding: 0;
  background: black;
  color: darkblue;
  margin: 0 2%;
}

#hamburger-button {
  position: relative;
  z-index: 9999;
  display: inline-block;
  vertical-align: top;
  height: 30px;
  width: 40px;
  margin-left: 93%;
  margin-top: 3%;
}

#hamburger-button:hover {
  cursor: pointer;
}

#hamburger-button > span {
  display:block;
  height: 6px;
  width: 40px;
  margin-bottom: 6px;
  background-color: white;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  transition-duration: 1s;
}

#hamburger-button.open > span:first-child {
  -webkit-transform: translateY(12px) rotate(45deg);
  transform: translateY(12px) rotate(45deg);
}

#hamburger-button.open > span:nth-child(2) {
  -webkit-transform: rotateY(90deg);
  transform: rotateY(90deg);
}
#hamburger-button.open > span:last-child {
  -webkit-transform: translateY(-12px) rotate(-45deg);
  transform: translateY(-12px) rotate(-45deg);
}

.navbar {
  position: absolute;
  opacity: 0;
  z-index: 888;
  height: 100vh;
  width: 100vw;
  margin-left: -2%;
  top: -100vw;
  transition: 1s;
  background-color: darkblue;
  color: white;
}

.navbar.open {
  opacity: 0.9;
  top: 0;
}

.navbar ul {
  list-style: none;
  margin-top: 20%;
  font-size: 1.5em;
}

.navbar ul li {
  width: 30%;
  margin-left: -5%;
  margin-right:auto;
  border-bottom: 1px solid white;
  margin-bottom: 5%;
  padding: 0px;
  opacity: 0.2;
  transition: opacity 1s ease, left 1s ease;
  position: relative;
  left: 5%;
  text-align: center;
}

.navbar.open ul li {
  opacity: 1;
  left: 0;
  width: 100%;
}

.navbar ul li a {
  color: white;
  text-decoration: none;
}

.navbar ul li:hover {
  cursor: pointer;
  text-shadow: 1px 1px 3px pink;
}

.navbar ul li:nth-child(2) {
  transition-delay: 0.2s;
}

.navbar ul li:nth-child(3) {
  transition-delay: 0.4s;
}
